$white: #ffffff;
$silver1: #202020;
$gray1: #d6d6d6;
$gray2: rgba(139, 139, 139, 0.8);
$gray3: #cecccc;
$gray4: #cecccc;
$gray5: #cecccc;
$gray6: #cecccc;
$black: #353535;

$backgroundcolor: linear-gradient(0.25turn, $white, $gray1);
$boxcolor: $gray2;
$textcolor: $black;
$linecolor: $black;

$link: #35b7f3;
$overlay: rgba(0, 0, 0, 0.8);
$poem: rgba(0,0,0,1)
