.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@keyframes fade {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes wavy {

	25% {
		transform: translateX(10%);
	}
	50% {
		transform: translateY(10%);
	}
	75% {
		transform: translateX(-10%) translateY(-10%);
	}
	100% {
		transform: translateX(0%) translateY(0%);
	}
}

@keyframes flip {
	//20 sec
	40% {
		// at 8 sec
		transform: rotateY(0deg);
	}
	50% {
		// at 10 sec
		transform: rotateY(180deg);
	}
	80% {
		// at 18 sec
		transform: rotateY(180deg);
	}
	90% {
		// at 20 sec
		transform: rotateY(0deg);
	}
}

@keyframes appear {
	from {
		transform: translate3d(0, 0, 0) rotateY(-90deg);
		opacity: 0;
	}
	to {
		transformation: translate3d(0, 0, 0) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes elevate {
	0% {
		box-shadow: 1px 1px 2px  grey, -1px -1px 2px lightgray;
	}
	50% {
		box-shadow: 1px 1px 5px  grey, -1px -1px 5px lightgray;
	}
	100% {
		box-shadow: 1px 1px 2px  grey, -1px -1px 2px lightgray;
	}
}
