$white: #ffffff;
$gray1: #d6d6d6;
$gray2: rgba(139, 139, 139,0.8);
$gray3: #CECCCC;
$gray4: #CECCCC;
$gray5: #CECCCC;
$gray6: #CECCCC;
$black: #353535;


$backgroundcolor: $gray1;
$boxcolor: $gray2;
$textcolor: $black;
$linecolor: $black;