%box {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: $border-rad;
	transition: box-shadow 0.1s ease-in-out;
	&:hover {
		animation: unset;
		box-shadow: 1px 1px 10px black;
		z-index: 99;
	}
}

.appear {
	animation: appear 1s 1 forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.elevated {
	// transition: all 12s ease-in-out;
	// box-shadow: 0.5px 0.5px 5px black;
	animation: elevate 2.5s 1 forwards
		cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.box3 {
	@extend %box;
	height: 15vw;
	width: 15vw;
	grid-row: span 3;
	grid-column: span 3;
	font-weight: bold;
	font-size: 2em;
	font-size: 30px;
	&--mobile {
		@extend %box;
		height: 18vh;
		width: 18vh;
		grid-row: span 3;
		grid-column: span 3;
		font-weight: bold;
		font-size: 2em;
		font-size: 22px;
	}
}

.box2 {
	@extend %box;
	height: 10vw;
	width: 10vw;
	grid-row: span 2;
	grid-column: span 2;
	font-size: 1em;
	font-size: 25px;
	&--mobile {
		@extend %box;
		height: 12vh;
		width: 12vh;
		grid-row: span 2;
		grid-column: span 2;
		font-size: 1em;
		font-size: 17px;
	}
}

.box1 {
	@extend %box;
	height: 5vw;
	width: 5vw;
	grid-row: span 1;
	grid-column: span 1;
	font-size: 0.8em;
	font-size: 12px;
	&--mobile {
		@extend %box;
		height: 6vh;
		width: 6vh;
		grid-row: span 1;
		grid-column: span 1;
		font-size: 0.8em;
		font-size: 11px;
	}
}

