%box {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1sec;
	overflow: hidden;
	background-color: $gray3;
	border-radius: 15px;
}

.box3 {
	@extend %box;
	height: 15vw;
	width: 15vw;
	grid-row: span 3;
	grid-column: span 3;
	font-weight: bold;
	font-size: 2rem;
	&--mobile {
		height: 18vh;
		width: 18vh;
		grid-row: span 3;
		grid-column: span 3;
		font-weight: bold;
	}
}

.box2 {
	@extend %box;
	height: 10vw;
	width: 10vw;
	grid-row: span 2;
	grid-column: span 2;
	font-size: 1rem;
	&--mobile {
		height: 12vh;
		width: 12vh;
		grid-row: span 2;
		grid-column: span 2;
	}
}

.box1 {
	@extend %box;
	height: 5vw;
	width: 5vw;
	grid-row: span 1;
	grid-column: span 1;
	font-size: 0.8rem;
	&--mobile {
		height: 6vh;
		width: 6vh;
		grid-row: span 1;
		grid-column: span 1;
	}
}
