%baseSet {
	animation: fade 0.8s 1 ease-in-out;
	cursor: pointer;
}

.roleImg {
	@extend %baseSet;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: $border-rad;
	img {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		transition: all 1s ease-in-out;
		filter: grayscale(100%);
		&:hover {
			filter: grayscale(0);
		}
		&.color {
			filter: grayscale(0);
		}
	}
	.wavy {
		animation-name: wavy;
		animation-duration: 20s;
		animation-iteration-count: 1;
	}
}

.rolePoem {
	@extend %baseSet;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	width: inherit;
	background-color: $gray3;
	p {
		text-align: center;
		align-items: center;
		font-family: $curFont;
		color: $silver1;
		padding: 3px 10px;
		margin: 0 0;
	}
}

.roleStory {
	@extend %baseSet;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	width: inherit;
	background-color: $gray3;
	p {
		text-align: center;
		align-items: center;
		font-family: $curFont;
		color: $silver1;
		padding: 3px 10px;
		margin: 0 0;
	}
}

.roleOverlay {
	@extend %baseSet;
	opacity: 1%;
	animation: all 5s ease-in-out;
	position: absolute;
	width: inherit; /* Full width (cover the whole page) */
	height: inherit; /* Full height (cover the whole page) */
	background-color: $overlay;
	z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
	align-self: center;
	cursor: pointer; /* Add a pointer on hover */
	&:hover {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 100%;
		color: $gray1;
		border-radius: $border-rad;
		font-size: 1rem;
	}
}

.roleSong {
	@extend %baseSet;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	animation-name: flip;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-duration: 20s;
	img {
		height: inherit;
		object-fit: cover;
	}

	.front,
	.back {
		position: absolute;
		height: 100%;
		width: 100%;
		color: #03446a;
		text-align: center;
		backface-visibility: visible;
		overflow: hidden;
		border-radius: $border-rad;
		img {
			max-width: 100%;
			max-height: 100%;
			transition: all 1s ease-in-out;
			filter: grayscale(100%);
			&:hover {
				filter: grayscale(0);
			}
			&.color {
				filter: grayscale(0);
			}
		}
	}
	.back {
		color: white;
		transform: rotateY(180deg);
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.songTitle {
			overflow: hidden;
			font-size: 0.8em;
			text-align: start;
			padding: 10px 10px;
		}
		.caption {
			font-size: 0.4em;
			text-align: start;
			color: rgba(255, 255, 255, 0.5);
			bottom: 10px 5px;
			padding: 5px 10px;
		}
	}
}

.roleCont {
	@extend %baseSet;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	width: inherit;
	background-color: $gray3;
	.icn {
		color: $gray2;
	}
}

.noComp {
	@extend %baseSet;
	background-color: $backgroundcolor;
	height: 100%;
	width: 100%;
}
