@import './box';
@import './socialNav';
@import './roleCompStyle';

.reloadMsg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	.reBtn {
		cursor: pointer;
		height: 50px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 5px solid white;
		border-radius: 15px;
		box-shadow: 1px 1px 10px black;
		transition: all 0.5s ease-in-out;
		svg {
			transition: all 0.5s ease-in-out;
		}
		&:hover {
			box-shadow: 1px 1px 20px black;
			svg {
				transform: rotate(180deg) scale(1.2);
			}
		}
	}
}
