html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $backgroundcolor;
  font-family: $textFont;
  overflow-x: hidden;
  overflow-y: hidden;
}

#base {
  display: grid;
  grid-template-rows: 90vh 10vh;
  grid-gap:0;
  align-items:center;
  justify-items: center;
  @include mobile{
    grid-template-rows: 95vh 5vh;
  }
}