#mainCont {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.mainGrid {
	display: grid;
	gap: 0.5vw;
	&--mobile {
		display: grid;
		gap: 1vh;
	}
}
